#result-page-search button {
    width: 100%;
}

#result-page-search div {
    width: 100%;
} 

.dropdown {
    width: 100%;
}

#click-me{
    text-align: center;
}

#dropdown{
    width: 100%;
}

form {
    margin: 0 auto;
}